
.carrusel__encuadre {
    height: 85vh;
}

.carrusel__imagenes {
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.carrusel__texto {
    text-align: end;
    bottom: 15%;
}

.footer__fondo {
    background: linear-gradient(103deg, #1C3844 0%, #1D5272 100%);
}

.color-verde {
    background-color: #96C93E;
    color: #fff;
}

.color-verde:hover {
    background-color: #7ba82d;
    color: #fff;
}

@media screen and (min-width:1200px) {
    .carrusel__texto {
    left: 39.37rem;
    }
}